.side-nav {
  position: fixed;
  top: 70px;
  left: -250px; /* starts hidden */
  width: 250px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.side-nav.open {
  left: 0; /* appears when open */
}

.nav-toggle {
  position: fixed;
  top: 90px;
  left: 20px;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-toggle.open {
  transform: rotate(90deg);
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #ffffff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.nav-toggle.open span:nth-child(2) {
  opacity: 0;
}

.nav-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

  
.dashboard-button {
  width: 100%;
  padding: 15px;
  color: white;
  border: none;
  background: none;
  text-align: left;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.dashboard-button:hover {
  background-color: #555;
}

.logout {
  position: fixed;  
  bottom: 20px;
  width: 250px;
}
  
  /* Close button styling */
  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: #ccc;
  }